# StockGuard - Dependencias del proyecto

# Testing
pytest>=8.0
pytest-mock>=3.12
pytest-cov>=4.0
pytest-xdist>=3.5
pytest-timeout>=2.2
pytest-asyncio>=0.23
pytest-randomly>=3.15

# Code Quality & Linting
flake8>=7.0
flake8-docstrings>=1.7
flake8-pyproject>=0.5
pylint>=3.1
black>=24.0
isort>=5.13
mypy>=1.8

# Security
bandit>=1.7.7
safety>=3.0

# Coverage
coverage>=7.4

# Utilities
pyyaml>=6.0
rich>=13.7
authlib>=1.3.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=46.0.5 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
marshmallow>=3.26.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.20.0 # not directly required, pinned by Snyk to avoid a vulnerability
